@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@100;300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Tourney:ital,wght@0,400;1,900&display=swap');

:root {
  --ff-ppal : 'Quicksand', sans-serif;
  --ff-logo: 'Tourney', cursive;
  --clr-bg: #393E46;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items:center;
  font-size: 1.6rem;
  background-color: var(--clr-bg);
  font-family: var(--ff-ppal);
  overflow: hidden;
  margin: 0;
  height: 100vh;

}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 768px; 
}



h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3.5rem;
}
p {
  font-size: 1.6rem;
}

.logo {
  font-family: var(--ff-logo);
  color: #fff;
  border: 1px solid #fff;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: .5rem
  }
.logo h1 {
  margin: 0;
}


.inicio {
  position: relative;
  align-self: center;
  margin-top: 15vh;
  
}

.centro {
  position: absolute;
  top: 37.5%;
  left: 20%;
  margin: 0;
  cursor: pointer;
  text-align: center;
  font-family: var(--ff-logo);
  font-size: 4rem;
  color: #fff;

}

.anillo {
  position: relative;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background: linear-gradient(144deg, rgba(232,33,56,1) 16%, rgba(227,225,52,1) 47%, rgba(46,208,246,1) 69%, rgba(43,198,107,1) 100%);
  animation: rotation 2s linear infinite;
  cursor: pointer;
}

.anillo::after {
  content: '';
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  background-color: var(--clr-bg);
  border-radius: 50%;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.anillo span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(144deg, rgba(232,33,56,1) 16%, rgba(227,225,52,1) 47%, rgba(46,208,246,1) 69%, rgba(43,198,107,1) 100%);
}

.anillo span:nth-child(1) {
  filter: blur(5px);
}
.anillo span:nth-child(2) {
  filter: blur(10px);
}
.anillo span:nth-child(3) {
  filter: blur(25px);
}



.juego {
  position: relative;
  width: 90vw;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:  45% 45% 10% ;
  gap: 2rem;
  margin-top: 3rem;
}



.juego__boton {
  cursor: pointer;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 30px 10px rgba(0,0,0,0.3);
  transition: box-shadow 0.05s ease-in-out;
  filter: brightness(1);

}
.juego__boton:focus {
  outline: none;
}
.juego__boton:active {
  transform: scale(0.98);
  box-shadow: 0 0 30px 10px rgba(0,0,0,0.2);
  z-index: -1;
  filter: blur(2px);
  filter: brightness(1.3);
  transition: transform 0.05s ease-in-out;
}



.stats {
  grid-column: 1 / 3;
  grid-row: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(24, 24, 24, 0.5);
  border-radius: 5rem;

}

.stats h3 {
  font-family: var(--ff-ppal);
  color: #fff;
  font-size: 2rem;
  letter-spacing: 1px;
  text-align: left;
  margin: 0;
}





@media (max-width: 500px) {
  .logo {
    padding: 1rem;
  }
  .logo h1{
    font-size: 3rem
  }
  .stats {
    justify-content: space-between;
    padding: 1rem;
  }
  .stats h3 {
    font-size: 1.5rem;
  }

}



/*
.centro {
  border: 2px red solid;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(50%);
}
*/


/*  Color botones   */

#boton1 {
  background: #E82239;
  background: -webkit-linear-gradient(top left, #E82239, #E0593B);
  background: -moz-linear-gradient(top left, #E82239, #E0593B);
  background: linear-gradient(to bottom right, #E82239, #E0593B);

}
#boton1:active {
  box-shadow: 0px 0px 45px 10px rgb(175,29,46);
  box-shadow: 0px 0px 45px 0px rgb(223, 50, 73);
  background: radial-gradient(circle, rgb(236, 139, 150) 0%, rgb(195, 40, 40) 100%);

}



#boton2 {
  background: rgb(46,208,246);
  background: linear-gradient(319deg, rgba(46,208,246,1) 0%, rgba(46,127,246,1) 100%);


}
#boton2:active {
  box-shadow: 0px 0px 45px 0px rgba(46,208,246,1);
  background: radial-gradient(circle, rgb(211, 247, 255) 0%, rgb(40, 216, 255) 100%);
}



#boton3 {
  background: rgb(43,198,107);
  background: linear-gradient(319deg, rgba(43,198,107,1) 0%, rgba(43,181,198,1) 100%);


}
#boton3:active {
  box-shadow: 0px 0px 45px 0px rgba(43,198,107,1);
  background: radial-gradient(circle, rgb(186, 255, 215) 0%, rgba(43,198,107,1) 100%);
}



#boton4 {
  background: #E3E134;
  background: linear-gradient(190deg, rgb(240, 196, 76) 0%, rgb(240, 225, 22) 100%);


}
#boton4:active {
  box-shadow: 0px 0px 45px 0px rgba(227,225,52,1);
  background: radial-gradient(circle, rgb(255, 254, 201) 0%, rgb(240, 225, 22) 100%);


}


.oculto {
  display: none;
}

